:root {
    --bonus: #ffba08;
    --bonus-2: #bb3e03;
    --zavrsni: #4f772d;
    --projekat: #014f86;
    --test: #8338ec;
    --pad-ispita: #ef233c;
    --pad-ispita-2: #121113;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px auto;
    text-align: center;
}

.main h1 {
    font-size: 54px;
    color: white;
}

.main h2 {
    display: inline-block;
    padding: 10px 5px;
    border-radius: 15px;
    margin: 10px;
}

button {
    margin-left: 20px;
    height: 50px;
    font-weight: 600;
    background-color: rgb(62, 255, 191);
    width: 15rem;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
}

button:hover {
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kocka {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.projekat {
    background: url('../IMG/projekat.png');
    background-size: cover;
    border: 3px solid var(--projekat);
}

.padispita1 {
    background: url('../IMG/pad.jpg');
    background-size: cover;
    border: 3px solid var(--pad-ispita);
}

.zavrsniIspit {
    background: url('../IMG/zavrsni.webp');
    background-size: cover;
    border: 3px solid var(--zavrsni);
}

.test {
    background: url('../IMG/ispit.jpg');
    background-size: cover;
    border: 3px solid var(--test);
}

.bonus1 {
    background: url('../IMG/bonus1.jpg');
    background-size: cover;
    border: 3px solid var(--bonus);
}

.bonus2 {
    background: url('../IMG/vrijeme.jpg');
    background-size: cover;
    border: 3px solid var(--bonus-2);
}

.padispita2 {
    background: url('../IMG/pad2.jpg');
    background-size: cover;
    border: 3px solid var(--pad-ispita-2);
}

.joker {
    background: url('../IMG/joker.png');
    background-size: cover;
    border: 6px solid purple;
}

.hide {
    background: url('../IMG/hide.png');
    background-size: cover;
    border: 6px solid gray;
}

.scale {
    background: url('../IMG/smanjivanje.jpg');
    background-size: cover;
    border: 6px solid greenyellow;
}

section {
    width: 100%;
    height: 100vh;
}

section.meni {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meni-wrapper {
    width: 60%;
    height: 90vh;
}

.naslov {
    margin-bottom: 50px;
}

.btn {
    margin: 10px 0px;
    width: 30%;
    height: 60px;
    border: 1px solid transparent;
    background-color: rgb(55, 92, 167);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(34, 62, 117);
    cursor: pointer;
    transition: .2s ease;
}

.btn-red {
    background-color: red;
}

.btn-red:hover {
    background-color: rgb(124, 0, 0);
}

.upute-wrapper {
    width: 80%;
    height: 100vh;
}

.upute-wrapper h1 {
    color: rgb(55, 92, 167);
    font-size: 50px;
}

.tekst {
    width: 100%;
    height: 100vh;
}

.tekst p {
    font-size: 20px;
}

.tekst ul {
    font-size: 18px;
    padding: 10px 50px;
}

span {
    font-weight: 700;
}